<div class="row" style="margin-bottom:10px;">
    <div class="col-6 offset-4">
        <a asp-action="AddRole" class="btn btn-primary mr-2">New Role</a>
        <a asp-action="DisplayRoles" class="btn btn-success mr-2">View Roles</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Assign user to role</a>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>

<hr/>
