<div class="row" style="margin-bottom:10px;">
    <div class="col-8 offset-2">
        <a asp-action="AddRole" asp-controller="UserRoleManagement" class="btn btn-primary mr-2">New Role</a>
        <a asp-action="New" asp-controller="Claim" class="btn btn-info mr-2">New Claim</a>
        <a asp-action="Index" asp-controller="Claim" class="btn btn-success mr-2">View Claim</a>
        <a asp-action="DisplayRoles" class="btn btn-success mr-2">View Roles</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Assign user to role</a>
        <a asp-action="Index" asp-controller="UserRoleManagement" class="btn btn-primary">Go Back</a>
    </div>
</div>

<hr/>
