@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index" asp-controller="UserRoleManagement" class="btn btn-outline-secondary">Configure User Roles</a>
</div>
